page-match {
    .contentflex{
        background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(224, 224, 224, 0.9));
        box-shadow: .5rem .1rem .7rem rgba(0, 0, 0, 0.575);
        padding: .2rem;
        border-radius: .4rem;
    }
    ion-content{
        color: rgb(58, 58, 58) !important;
        font-size: 10px !important;
        background: url('../../assets/imgs/quino-al-517733-unsplash.jpg');
        background-size: cover;
        
    }
    .teamflex{
        display: flex;
        flex-direction: row;
        padding: .2rem;
        justify-content: center;
    }
    .teamtextf{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
    }
    .vsText{
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: .2rem;
    }

    .vsLogo{
        width: 20rem;
    }

    .advantage{
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .3rem;
        font-weight: 500;
    }

    .imageflex{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .clash{
        width: 10rem;
        transition: all ease .4s;
        padding: .5rem;
    }

    .clash:hover{
        background: rgba(0, 0, 255, 0.5);
        transform: translateY(-.4rem);
        transform: scale(1.1);
        box-shadow: 0 .5rem .3rem 0 rgba(0, 0, 0, 0.5);
    }
    .clash:active{
        background: rgba(0, 0, 255, 0.5);
        transform: translateY(.2rem);
        transform: scale(1.0);
        box-shadow: 0 .2rem .6rem 0 rgba(0, 0, 0, 0.5);
    }

    .scoreFlex{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .score{
        font-size: 4rem;
    }

    .detailText{
        font-size: 1.4rem;
    }

    .tries{
        font-size: 2rem;
    }

    .triesText{
        font-size: 2rem;
    }

    .mainScoreText{
        text-transform: uppercase;
        letter-spacing: .5rem;
    }

    .detailsflex{
        display: flex;
        justify-content: space-evenly;
    }
    .buttonflex{
        display: flex;
        justify-content: space-evenly;
    }

    button{
        transition: all ease .2s !important;
    }

    button:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 .6rem .3rem 0 rgba(0, 0, 0, 0.5);
    }

    button:active{
        transform: translateY(0rem);
        box-shadow: 0 .1rem .6rem 0 rgba(0, 0, 0, 0.5);
    }
}
