page-setmatch {
    ion-content{
        backface-visibility: hidden;
        animation: fd .6s ease-in-out;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)
          ),url("../../assets/imgs/craig-boudreaux-527407-unsplash.jpg");
          background-size: cover;
        padding: 2rem;
    }
    .cardflex{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .heading, header{
        font-size: 2rem;
        text-align: center;
        letter-spacing: .4rem;
    }

    div.content{
        padding: .5rem;
        color: rgb(53, 53, 53);
        border: .3rem solid rgb(53, 53, 53);
        margin: .5rem;
    }
    
    .score{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .mainHeading{
        font-size: 4rem;
        text-align: center;
        color: rgb(61, 61, 61);  
    }

    .wrapper{
        background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(224, 224, 224, 0.9));
    }
}
